@font-face {
    font-family: 'Katuri';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #013440;
}
body{
    font-family: 'HallymGothic-Regular';
    font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	color: #013440;
    background: url(../images/bg.jpg) no-repeat center top;
    background-size: cover;
}
@media (min-width:751px) and (max-width:930px){
    body{
        width: 100%;
        margin: auto;
    }
}
@media (max-width:750px){
    body{
        width: 100%;
        margin: auto;
        font-size: 13px;
        line-height: 23px;
    }
    h1{
        font-size: 35px;
    }
}
.top{
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 850;
}
.section h1{
    display: inline-block;
    font-family: 'Katuri';
    font-size: 50px; 
    font-weight: bold;
}

/* 트랜지션 */
h1.show{
    opacity: 1;
    transform: none;
}

h2{
    float: left;
}
@keyframes ani1{
    0% {
        transform: rotate(0deg) translate(0,0);
    }
    50%{
        transform: rotate(-5deg) translate(-70px,-50px);
    }
    100%{
        transform: rotate(0deg) translate(0,0);
    }
}
@keyframes ani2{
    0% {
        transform: translate(0,0) rotate(0deg);
    }
    50%{
        transform: translate(-80px,-20px) rotate(15deg);
    }
    100%{
        transform: translate(0,0) rotate(0deg);
    }
}
@keyframes ani4{
    0% {
        transform: translate(0,0) rotate(0deg);
    }
    50%{
        transform: translate(0,10px) rotate(3deg);
    }
    100%{
        transform: translate(0,0) rotate(0deg);
    }
}
@keyframes m_ani4{
    0% {
        transform: translate(0,0) rotate(0deg);
    }
    50%{
        transform: rotate(0.5deg);
    }
    100%{
        transform: translate(0,0) rotate(0deg);
    }
}
@keyframes opacity{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes left{
    0%{
        transform: translateX(-100px);
    }
    50%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-100px);
    }
}


/* header_wrap */
#header_wrap{
    display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 180px;
	z-index: 800;
    margin: auto;
}

/* header_top */
#header_top{
    width: 100%;
    margin: auto;
    background-color: #020873;    
    height: 26px;
}
#header_top p{
    float: left;
    margin-left:100px;    
    color: #fff;
    padding-left: 30px;
    background: url(../images/icon_time.png) no-repeat left center;
}
#header_top dt:nth-child(1){
    background: url(../images/icon_mail.png) no-repeat left center;
    }
#header_top dt:nth-child(2){
    background: url(../images/icon_call.png) no-repeat left center;
}
#header_top dl{
    float: right;
    margin-right: 30px;
}
#header_top dt{
    float: left;
    display: block;
    width: 120px;
    text-align: left;  
    padding-left: 30px; 
}
#header_top a{
    color: #fff;
    font-size: 13px;
}

/* menu */
.header h1{
    width: 10%;
    font-family: 'Katuri';
    padding-left:5%;
    margin-top:1%;
    float: left;
    transition: none;
}
.pc_gnb{
    width: 85%;
    float: right;
    margin-top:1%;
}
.pc_gnb li{
	float: left;
	width: 21.25%;
	text-align: right;
}
.scale{
    display: block;
    color: #fff;
}
.pc_gnb li a{
	display: block;
	font-size: 30px;
    font-family: 'Katuri';
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    color: #fff;
    margin-top: 40px;
    transition: all 1s;   
}
.pc_gnb li:nth-child(1){
    padding-right: 50px;
}
.scale:hover{
	color: #ffd601;
    transform: scale(1.2,1.2);
}

/* 모바일 */
#m_gnb{
    width: 400px;
    height: 1000px;
    background-color: #0378A6;
    float: left;
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.menu_open{
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 999;
}
.menu_open img{
    width: 50%;
}
.menu_close{
    padding: 20px 0 0 10px;
}
.menu_close img{
    width: 70px;
    height: 70px;
}
.nav_inner{
    width: 100%;
    margin: auto;   
    text-align: center; 
}
.nav_inner > a{
    width: 100%;
    color: #fff;
}
.nav{
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    font-size: 20px;
}
.nav li{
    width: 100%;
    height: 60px; 
}
.nav a{
    display: block;
    color: #fff;
    font-family: 'Katuri';
    padding: 20px 0;
}
.nav a:hover{
    background-color: rgba(255, 255, 255, 0.329);
    color: #ffd601;
}
@media (min-width:931px){
    #m_gnb{
        display: none;
    }
    .menu_open{
        display: none;
    }
}
@media (min-width:751px) and (max-width:930px){
    #m_gnb{
        display: none;
    }
    .menu_open{
        display: none;
    }
    /* menu */
    #header_top p{
        width: 20%;
        color: #fff;
         background: url(../images/icon_time.png) no-repeat 5px center;
         margin: 0;
    }
    #header_top dl{
        margin: 0;
        width: 70%;
    }
    #header_top dt{
        text-align: center; 
        width: 17%;
        margin: 0;    
    }
    #header_top dt:nth-child(1){
        background: url(../images/icon_mail.png) no-repeat 5% center;
        padding-left: 0;
    }
    #header_top dt:nth-child(2){
        background: url(../images/icon_call.png) no-repeat 20% center;
    }
    #header{
        font-size: 25px;
    }
}
@media (max-width:750px) {
    #header_wrap{
        width: 100%;
        height: 100px;
    }
    #header_top{
        display: none;
    }
    .header{
        width: 100%;
        margin: auto;
    }
    .header h1{
        float: left;
        width: 55%;
        text-align: right;
        padding-top: 10px;
    }
    .header h1 img{
        width: 80px;
    }
    .pc_gnb{
        display: none;
    }
}


/* section1 */
#section1{
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
}
#section1 h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    text-align: center;
    color: #fff;
    font-size: 50px;
    line-height: 70px;
}

@media (min-width:931px){
    .swiper-container{
        display:none;
    }
}
@media (min-width:751px) and (max-width:930px){
    .swiper-container{
        display:none;
    }
    #section1{
        width: 100%;
        height: auto;
        margin: auto;
        position: relative;
	margin-top: 100px;
    }
    #section1 h2{
        top: 50%;
        font-size: 30px;
        line-height: 40px;
    }
}
@media (max-width:750px) {
    #section1{
        height: 700px;
    }
    #section1 h2{
        font-size: 20px;
        line-height: 25px;
    }
    video{
        display: none;
    }
}



/* about */
#section2{    
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 200px;
}
.about h1{
    margin:200px 0 0 100px ;
    text-align: left;
    color: #ffd601;   
    text-shadow: -3px -3px 1px #00afe5;
}
.ani1{
    animation: ani1 2.5s ease-out infinite;
    margin: 0 0 0 300px;
}
.about ul{
    width: 900px;
    margin: auto;
    overflow: hidden;
    display: flex;
}
.about ul li{
    flex: 1; 
    width: 300px;
    height: 640px;
    overflow: hidden;
    position: relative;
    transition: all 1s;
    border-radius: 20px 0 0 20px;
    padding: 50px;
    box-sizing: border-box;
}
.about ul li:nth-child(1){
    background: url(../images/about1.png) no-repeat top;
}
.about ul li:nth-child(2){
    background: url(../images/about2.png) no-repeat top;
}
.about ul li:nth-child(3){
    background: url(../images/about3.png) no-repeat top;
}
.about ul li h2{
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-size: 23px;
    text-align: left;
    width: 100%;   
    height: 50px; 
    margin-bottom: 50px;
}
.about ul li p{
    color: #fff;
    font-size: 15px;
    width: 100%;
    height: 300px;
    margin-bottom: 200px;
}
.about ul li h6{
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    width: 80px;
    display: block;
}
.about ul li:hover{
    flex: 2.5;
}

.about ul li h6:hover{
    background-color: rgba(255, 255, 255, 0.521);
    color: #000;
    cursor: pointer;
}

@media (min-width:751px) and (max-width:930px){
    .about h1{
        margin:280px 0 0 100px ;
    }
    .about ul{
        width: 700px;
        overflow: hidden;
        display: flex;
    }
    .about ul li{
        padding: 50px 0 50px 10px;
    }
    .about ul li h2{
        font-size: 20px;
    }
    .about ul li p{
        font-size: 13px;
    }
}
@media (max-width:750px) {  
    #section2{    
        width: 100%;
        height: 950px;
        margin: auto;
        position: relative;
    }
    .about h1{
        margin:150px 0 50px 100px;
    }
    .ani1{
        display: none;
    }
    .about ul{
        width: 350px;
        height: 700px;
        flex-direction: column;
    }
    .about ul li{
        border-radius: 0 0 20px 20px;
        padding: 50px;
        box-sizing: border-box;
    }
    .about ul li h2{
        font-size: 15px;
        text-align: left;
        height: auto;
        margin-bottom: 10px;
    }
    .about ul li p{
        font-size: 13px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .about ul li h6{
        padding: 8px 12px;
        border-radius: 30px;
        font-size: 10px;
    }
    .about ul li:hover{
        flex: 1.5;
    }
}

/* section3 */
#section3{
    width: 100%;
    height: 750px;
    margin: auto;
    position: relative;
}
/* bubble */
#section3 .bubble{
    position: absolute;
    top:0;
    left:0;
    width: 90%;
    height: 100%;
    z-index:0;
}
#section3 span{
    display: block;
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background: rgba(46, 37, 88, 0.459);
    border-radius: 50%;
    animation: bubble 15s ease-in-out infinite;
}
#section3 .bubble span:nth-child(1){
    width:40px;
    height: 40px;
    left:0%;
    animation-duration: 15s;
}
#section3 .bubble span:nth-child(2){
    width:20px;
    height: 20px;
    left:10%;
    animation-duration: 15s;
    animation-delay:1s;
}
#section3 .bubble span:nth-child(3){
    width:50px;
    height: 50px;
    left:20%;
    animation-duration: 17s;
    animation-delay:2s;
}
#section3 .bubble span:nth-child(4){
    width:80px;
    height: 80px;
    left:40%;
    animation-duration: 14s;
    animation-delay:0s;
}
#section3 .bubble span:nth-child(5){
    width:35px;
    height: 35px;
    left:50%;
    animation-duration: 13s;
    animation-delay:1s;
}
#section3 .bubble span:nth-child(6){
    width:45px;
    height: 45px;
    left:60%;
    animation-duration: 15s;
    animation-delay:3s;
}
#section3 .bubble span:nth-child(7){
    width:25px;
    height: 25px;
    left:70%;
    animation-duration: 14s;
    animation-delay:2s;
}
#section3 .bubble span:nth-child(8){
    width:80px;
    height: 80px;
    left:80%;
    animation-duration: 13s;
    animation-delay:1s;
}
#section3 .bubble span:nth-child(9){
    width:45px;
    height: 45px;
    left:60%;
    animation-duration: 15s;
    animation-delay:2.5s;
} 
#section3 .bubble span:nth-child(10){
    width:50px;
    height: 50px;
    left:23%;
    animation-duration: 17s;
    animation-delay:2.5s;
} 
#section3 .bubble span:nth-child(11){
    width:100px;
    height: 100px;
    left:70%;
    animation-duration: 13s;
    animation-delay:1.5s;
}
/* bubble end */


.title{
    margin: auto;
    height: 100px;    
    padding: 150px 50px 0 0;
}
#section3 h1{
    display: block;
    text-align: right;
    color: #020873;
    text-shadow: 3px -3px 1px #ffd601;
    height: 50px;
}
#section3 .sub{
    text-align: right;
    color: #020873;  
    display: block; 
}
#section3 .sub strong{
    text-decoration: underline 2px ;
    text-underline-offset: 0.3rem;
    font-size: 16px;
    font-weight: 700;
}
.ani2{
    animation: ani2 2.5s ease-out infinite;
    position: absolute;
    top: 100px;
    right: 400px;
}
#section3 ul{
    width: 900px;
    height: 450px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}
#section3 li{
    float: left;
    margin: auto;
    width: 50%;
    height: 450px;
    border-radius: 50px;    
    box-sizing: border-box;
    padding: 50px;
}
#section3 li:nth-child(1){
    border: 1px solid #013440;    
}
#section3 li:nth-child(2){
    background-color: #013440;
    color: #fff;
}
#section3 h2{
    padding-bottom: 50px;
    font-size: 30px;
    width: 100%;
}
#section3 ul li p{
    padding-bottom: 20px;
}
#section3 b{
    font-size: 22px;
    padding-left: 50px;
}
#section3 ul li p:nth-child(4){
    padding-top: 50px;
    font-size: 15px;
}
table{
    border-collapse: collapse;
    color: #fff;
}
td{
    width: 100px;
    padding: 0 0 20px 0;
}
th{
    width: 250px;
    text-align: right;
    font-size: 25px;
    font-weight: 700;
    box-sizing: border-box;
}
#section3 button{
    font-size: 15px;
    border-radius: 50px;
    padding: 15px 20px;
    box-sizing: border-box;
    float: left;
    margin: 70px 20px;
    text-align: center;
    width: 120px;    
}
.outline{
    border: 1px solid #fff;
    background-color: #013440;
    color: #fff;    
}
.green{
    border: none;
    background-color: #fff;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.534);
    cursor: pointer;
}

@media (min-width:751px) and (max-width:930px){
    #section3 ul{
        width:700px;
        color: #fff;
    }
    #section3 h2{
        font-size: 27px;
    }
    #section3 b{
        font-size: 20px;
        padding-left: 30px;
    }
    #section3 ul li p:nth-child(4){
        font-size: 13px;
    }
    #section3 button{
        font-size: 12px;
        padding: 8px 10px;
        margin: 50px 10px;
        width: 100px;    
    }
}

@media (max-width:750px) {
    .bubble{
        display: none;
    }
    #section3{
        width: 100%;
        height: 900px;
        margin: auto;
        position: relative;
    }
    #section3 h1{
        margin-top: 10px;
        font-size: 30px;
    }
    .ani2{
        display: none;
    }
    #section3 ul{
        width: 400px;
        height: 700px;
    }
    #section3 li{
        width: 100%;
        height: 300px;
        float: none;
    }
    #section3 h2{        
        font-size: 23px; 
        padding-bottom: 25px;       
    }
    #section3 ul li p{
        padding-bottom: 15px;
    }
    #section3 ul li p:nth-child(4){
        padding-top: 40px;
        font-size: 12px;
    }
    #section3 b{
        font-size: 18px;
    }
    th{
        font-size: 18px;
    }
    td{
        padding: 0 0 20px 0;
    }
    #section3 button{
        font-size: 10px;
        padding: 10px 13px;
        width: 80px; 
        margin: 20px 30px;
    } 

}

/* selection4 */
#section4{
    width: 100%;
    height: 900px;
    margin: auto;
    margin-bottom: 100px;
}
.slide{
    position: relative;
}
.slide h1{
    margin: 250px 0 0 100px;
    padding: 20px 0;
    color: #020873;
    text-align: center;
    text-shadow: -3px 3px 1px #fff;
}
.slide p{
    margin-left: 100px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding-bottom: 50px;
}
.slide b{
    text-decoration: underline 2px ;
    text-underline-offset: 0.3rem;
}
.slide .text{
    width: 200px;
    animation: opacity 2s infinite;
    position: absolute;
    right: 200px;
    top: 250px;
}
.slide .icon{
    display: block;
    width: 70px;
    animation: left 2s infinite;
    position: absolute;
    right: 400px;
    top: 230px;
}
/* 이미지슬라이드 */
.slider {
    margin: auto;
    overflow: hidden;
}
.slick-slide {
  margin: 0px 10px;
}
.slider .gallery{
    width: 90%;
    background-color: #fff;
    margin: auto;
    margin:0 10px;
    text-align:left;
    border-radius:30px;    
    border: 1px solid #111;
}
.slider .gallery img{
    width: 100%;
    display:inline-block;
    border-radius:30px 30px 0 0;
}
.slider .gallery h2{
    width: 100%;
    padding: 20px 0 10px 20px;
    font-size: 25px;
}
.slider .gallery p{
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    padding-left: 20px;
    font-size: 20px;
}
.slider .slick-prev:before,
.slider .slick-next:before {
  color: black;
}
.slider .slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}
.slider .slick-active {
  opacity: 1;
}
.slider .slick-current {
  opacity: 1;
}
.slider > .swiper-slide > h2,.slider > .swiper-slide > p{
    width: 100%;
    text-align: left;
    padding-left: 10px;
}
.slider > .swiper-slide > h2{
    padding-bottom: 10px;
}

@media (min-width:751px) and (max-width:930px){
    #section4{
        width: 95%;
        height: 600px;
    }
    .slide h1{
        margin: 250px 0 0 20px;
    }
    .slide p{
        margin-left: 20px;
        text-shadow: 1px 1px 2px #000;
    }
    .slide .text{
        right: 20px;
        top: 250px;
    }
    .slide .icon{
        right: 100px;
        top: 300px;
    }
    /* 슬라이드 */
    .slider .gallery{
        height: 290px;
        border-radius:10px;
    }
    .slider .gallery img{
        border-radius:10px 10px 0 0;
    }
    .slider .gallery h2{
        padding: 20px 0 10px 2px;
        font-size: 20px;
    }
    .slider .gallery p{
        font-size: 13px;
        padding-left: 2px;
    }
}

@media (max-width:750px){
    #section4{
        width: 100%; 
        height: 500px; 
    }
    .slide h1{
        margin: 50px 0 0 30px;
        font-size: 40px;
    }
    .slide p{
        margin-left: 30px;
        color: #fff;
        padding-bottom: 10%;
    }
    .slide .text{
        width: 150px;
        right: 170px;
        top:500px;
    }
    .slide .icon{
        width: 50px;
        margin-right: 0px;
        right: 300px;
        top: 450px;
    }
    .slide .icon img, .slide .text img{
        width: 50%;
    }

    /* 이미지슬라이드 */    
    .slider .gallery{  
        border:none;
    }
    .slider .gallery img{
        border-radius:10px 10px 0 0;
    }
    .slider .gallery h2{
        width: 100%;
        padding: 20px 0 10px 0px;
        font-size: 15px;
    }
    .slider .gallery p{
        padding-left: 0;
        font-size: 13px;
    }
    .slide .icon img, .slide .text img{
        width: 30%;
    }
}


/* selection5 */
#section5 .bubble{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    display: none;
}
#section5 span{
    display: block;
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background: rgba(46, 37, 88, 0.459);
    border-radius: 50%;
    animation: bubble 15s ease-in-out infinite;
}
#section5 .bubble span:nth-child(1){
    width:40px;
    height: 40px;
    left:0%;
    animation-duration: 15s;
}
#section5 .bubble span:nth-child(2){
    width:20px;
    height: 20px;
    left:10%;
    animation-duration: 15s;
    animation-delay:1s;
}
#section5 .bubble span:nth-child(3){
    width:50px;
    height: 50px;
    left:20%;
    animation-duration: 17s;
    animation-delay:2s;
}#section5 .bubble span:nth-child(4){
    width:80px;
    height: 80px;
    left:40%;
    animation-duration: 14s;
    animation-delay:0s;
}
#section5 .bubble span:nth-child(5){
    width:35px;
    height: 35px;
    left:50%;
    animation-duration: 13s;
    animation-delay:1s;
}
#section5 .bubble span:nth-child(6){
    width:45px;
    height: 45px;
    left:60%;
    animation-duration: 15s;
    animation-delay:3s;
}
#section5 .bubble span:nth-child(7){
    width:25px;
    height: 25px;
    left:70%;
    animation-duration: 14s;
    animation-delay:2s;
}
#section5 .bubble span:nth-child(8){
    width:80px;
    height: 80px;
    left:80%;
    animation-duration: 13s;
    animation-delay:1s;
}
#section5 .bubble span:nth-child(9){
    width:45px;
    height: 45px;
    left:60%;
    animation-duration: 15s;
    animation-delay:2.5s;
} 
#section5 .bubble span:nth-child(10){
    width:50px;
    height: 50px;
    left:23%;
    animation-duration: 17s;
    animation-delay:2.5s;
} 
#section5 .bubble span:nth-child(11){
    width:100px;
    height: 100px;
    left:70%;
    animation-duration: 13s;
    animation-delay:1.5s;
}
@keyframes bubble{
    0%{
        bottom:-100px;
        transform: translateX(0);
    }
    35%{
        transform: translateX(100px);
    }
    70%{
        transform: translateX(200px); 
    }
    100%{
        bottom:110%;
        transform: translateX(0);
    }
}
/* 버블효과 */


#selection5{
    width: 100%;
    margin: auto;
    height: 1000px;
}
.title p{
    padding-top: 10px;
}
.title h1, .title p{
    display: block;
    color: #020873;
    text-align: right;
}
.shop{
    width: 100%;
    height: 800px;
    margin: auto;
    position: relative;
}
.ani3{
    animation: ani1 1.5s infinite;
    position: absolute;
    right: 200px;
    top: 50px;
    width: 92px;
    height: 68px;
}
.shop ul{
    margin: auto;
    width: 900px;
}
.shop li{
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    float:left;
    overflow:hidden;
    transition: all 1s ease;
    border-radius: 150px;
    position: relative;
}
.shop li:nth-child(1){
    margin: 100px 10px;
}
.shop li:nth-child(2){
    margin: 150px 10px;
}
.shop li:nth-child(3){
    margin: 20px 40px;
}
.shop a{
    display: block;   
}
.screen p{
    text-align: left;
    color: #013440;
}
.screen img{
    width: 100%;
}
.bottom{
    display: inline;
    position:absolute;
    bottom:-100px;
    left:-100px;
    z-index:2;
    font-weight:bold;
    color:#fff;
    transition:all 0.5s;
}
.bottom h2{
    width: 100%;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) ;
}
.bottom p{
    width: 100%;
    font-size: 20px;
    color:#fff;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) ;
}
ul li a:hover .bottom{
    bottom:50px;
    left: 50px;
}
.shop li:nth-child(1):hover{
    transform: translate(70px ,50px);
}
.shop li:nth-child(2):hover{
    transform: translate(50px ,50px);
}
.shop li:nth-child(3):hover{
    transform: translate(50px ,-100px);
}
.shop li:nth-child(4):hover{
    transform: translate(50px ,-20px);
}

@media (min-width:751px) and (max-width:930px){
       .shop li:nth-child(1):hover{
        transform: translate(50px ,100px);
    }
    .shop li:nth-child(2):hover{
        transform: translate(-50px ,-50px);
    }
    .shop li:nth-child(3):hover{
        transform: translate(50px ,-100px);
    }
}

@media (max-width:750px) {
    #section5{
        height: 1400px;
    }
    .shop .title h1{
        padding-top: 20px;
    }
    .shop{
        height: 1200px;
        margin-top: 150px;
    }
    .ani3{
        display: none;
    } 
    .shop > .title{
        margin: auto;
        height: 100px;    
        padding: 0 50px 0 0;
    }  
    .shop ul{
        margin: auto;
        width: 300px;
    } 
    .shop li{
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }
    .shop li:nth-child(1){
        margin: 0;
    }
    .shop li:nth-child(2){
        margin: 0;
    }
    .shop li:nth-child(3){
        margin: 0;
    }
    .shop li:nth-child(1):hover{
        transform: translate(0 ,0);
    }
    .shop li:nth-child(2):hover{
        transform: translate(0 ,0);
    }
    .shop li:nth-child(3):hover{
        transform: translate(0 ,0);
    }
    .shop li:nth-child(4):hover{
        transform: translate(0 ,0);
    }
    .bottom{
        bottom:20px;
        left:20px;
        transition: none;
    }
    ul li a:hover .bottom{
        bottom:20px;
        left: 20px;
    }
}

/* footer */

#pc_footer{
    width: 100%;
    height: 250px;
    margin: auto;
    background-color:#0378a6;
}
.footer_inner{
    color: #fff;
    width: 90%;
    margin: auto;
    padding-top: 50px;
    position: relative;
}
.content1{
    width: 100%;
    height: 25px;
    padding-bottom: 20px;
}
.content1 a{
    float: left;
    display: block;
    padding-right: 50px;    
    color: #fff;
    font-weight: bold;
}
.content1 a:hover{
    color: #ffd601;
}
.content2 {
    width: 100%;
    height: 25px;
    padding-bottom: 20px;
}
.content2 li{
    float: left;
    display: block;
    padding-right: 50px;
}
.footer_inner p{
    padding-bottom: 20px;
}
select{
    padding: 10px 40px;
    font-size: 17px;
    position: absolute;
    top: 180px;
    right: 151px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}
option{
   color: black;
}

#m_footer{
    width: 100%;
    height: 200px;
    margin: auto;
    text-align: center;
    color: #fff;
    background-color: #0378a6;
}
.m_content{
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

.footer_inner > a{
    display: block;
    position: absolute;
    top: 180px;
    right: 100px;
    border: 1px solid #fff;
    padding: 8px 11px;
    color: #fff;
}
@media (min-width:931px){
    #m_footer{
        display: none;
    }
}
@media (min-width:751px) and (max-width:930px){
    #m_footer{
        display: none;
    }
    .footer_inner{
        width: 930px;
        margin-left: 50px;
    }
    select{
        top: 140px;
        right: 250px;
    }
    .footer_inner > a{
        top: 140px;
        right: 200px;
    }
}

@media (max-width:750px) {
    #pc_footer{
        display: none;
    }
}
